{% extends 'index.html' %}

{% block content %}
	<!-- ============================================== -->
	<!-- Start landing page section -->
	<!-- ============================================== -->
	<header id="landing" class="landing">
		<div class="container h-100 d-flex justify-content-center align-items-center">
			<article class="card text-light border-0 bg-transparent text-center">
				<header>
					<h1 class="mb-0">Lorem Ipsum For Dipsum</h1>
				</header>
				<div class="card-body">
					<p class="card-text mb-4">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, dolorum?
					</p>
					<a href="" class="btn btn-info">Read More</a>
				</div>
			</article>
		</div>
	</header>

	<!-- ============================================== -->
	<!-- Start services section -->
	<!-- ============================================== -->
	<section id="services" class="services py-5">
		<div class="container py-5">
			<div class="row">
				<div class="col-md-4">
					<article class="card text-center p-3">
						<div class="card-body">
							<header class="card-title">
								<h4>Lorem Ipsum</h4>
							</header>
							<p class="card-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
								aut doloribus necessitatibus perspiciatis repudiandae rerum! Animi dolorum maiores
								maxime neque pariatur quaerat quisquam rem reprehenderit tenetur. Aspernatur eos est
								vel!
							</p>
						<footer class="card-footer bg-transparent border-0 p-0">
							<a href="" class="btn btn-info">Read More</a>
						</footer>
						</div>
					</article>
				</div>
				<div class="col-md-4">
					<article class="card text-center p-3">
						<div class="card-body">
							<header class="card-title">
								<h4>Lorem Ipsum</h4>
							</header>
							<p class="card-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
								aut doloribus necessitatibus perspiciatis repudiandae rerum! Animi dolorum maiores
								maxime neque pariatur quaerat quisquam rem reprehenderit tenetur. Aspernatur eos est
								vel!
							</p>
						<footer class="card-footer bg-transparent border-0 p-0">
							<a href="" class="btn btn-info">Read More</a>
						</footer>
						</div>
					</article>
				</div>
				<div class="col-md-4">
					<article class="card text-center p-3">
						<div class="card-body">
							<header class="card-title">
								<h4>Lorem Ipsum</h4>
							</header>
							<p class="card-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
								aut doloribus necessitatibus perspiciatis repudiandae rerum! Animi dolorum maiores
								maxime neque pariatur quaerat quisquam rem reprehenderit tenetur. Aspernatur eos est
								vel!
							</p>
						<footer class="card-footer bg-transparent border-0 p-0">
							<a href="" class="btn btn-info">Read More</a>
						</footer>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>

	<!-- ============================================== -->
	<!-- Start About section -->
	<!-- ============================================== -->
	<section id="about" class="about py-5">
		<div class="container py-5">
			<article class="card">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{url_for('static', filename='images/profile.png')}}" class="card-img" alt="...">
					</div>
					<div class="col-md-8 p-3">
						<div class="card-body">
							<h4 class="card-title mb-3">About Me</h4>
							<p class="card-text mb-3">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate debitis doloremque
								esse eveniet exercitationem modi optio repellat repellendus temporibus ullam. Aspernatur
								cumque delectus error eveniet illo iusto laudantium, magnam mollitia natus quas
								voluptatibus voluptatum. Culpa debitis dicta fuga perspiciatis repudiandae veritatis
								voluptate, voluptates. Autem facilis iure molestiae mollitia neque non pariatur placeat
								porro provident quos!
							</p>
							<p class="card-text">
								Assumenda at atque aut autem consequatur cumque cupiditate
								deserunt dolorum eaque eum facere hic ipsam itaque iure laborum maxime minima molestiae
								molestias omnis, praesentium quod repellat repudiandae soluta sunt temporibus, unde
								veniam voluptas. Beatae iure nostrum placeat tenetur. Accusantium asperiores dignissimos
								error nisi officiis repudiandae?
							</p>
							<a href="#" class="btn btn-info">Full Profile</a>
							<a href="#" class="btn btn-info">Download CV</a>
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>

	<!-- ============================================== -->
	<!-- Start Featured section -->
	<!-- ============================================== -->
	<section id="featured" class="featured">
		<div class="container">

		</div>
	</section>

	<!-- ============================================== -->
	<!-- Start Footer section -->
	<!-- ============================================== -->
	<footer id="footer" class="footer">
		<div class="container">

		</div>
	</footer>

{% endblock %}