
.navbar
	width: 100%
	
.landing
	background-image: linear-gradient(45deg, #000, #006)
	height: 70vh
	h1
		color: #ffffff

.about
	background-color: #eeeeee

.footer
	height: 30vh

.feed
	background-image: linear-gradient(45deg, #000, #006)
	&-header
		background-color: #333333
		height: 50vh
		display: flex
		justify-content: center
		align-items: center
		border-bottom: 1px solid #ffffff
	&-header-title
		color: #ffffff
		font-size: 3rem













